<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Campaigns</title>
    <!-- Подключение Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-light">
    <div class="container py-5">
        <h1 class="mb-4">Your Campaigns</h1>
        {% if campaigns %}
        <ul class="list-group">
            {% for campaign in campaigns %}
            <li class="list-group-item">
                <a href="/campaigns/{{ campaign[0] }}">{{ campaign[1] }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="text-danger">No campaigns found.</p>
        <a href="/adventures" class="btn btn-primary">Choose adventure</a>
        {% endif %}
    </div>
</body>
</html>
